<ion-item class="ion-margin-vertical">
    <ion-label position="floating">
        Nombre
    </ion-label>
    <ion-input class="" v-model="from_name" id="nombre">
    </ion-input>
</ion-item>
<ion-item class="ion-margin-vertical">
    <ion-label position="floating">
        Asunto
    </ion-label>
    <ion-input class="" v-model="from_name" id="asunto">
    </ion-input>
</ion-item>
<ion-item class="ion-margin-vertical">
    <ion-label position="floating">
        Correo
    </ion-label>
    <ion-input class="" v-model="from_name" id="correo">
    </ion-input>
</ion-item>
<ion-item class="ion-margin-vertical">
    <ion-label position="floating">
        Mensaje
    </ion-label>
    <ion-textarea class="" placeholder="Detallanos tu solicitud de ayuda aqui..." v-model="from_name" id="mensaje">
    </ion-textarea>
</ion-item>
<ion-row>
    <ion-col size-md="2" offset-md="0">
        <ion-button @click="enviar" color="secondary">
            <ion-icon name="send-outline"></ion-icon>
            Enviar
        </ion-button>
    </ion-col>
    <ion-col size-md="2" offset-md="4">
        <ion-button id="btn_cancelar" color="danger">
            <ion-icon name="close-outline"></ion-icon>
            Cancelar
        </ion-button>
    </ion-col>
</ion-row>
<ion-button expand="block" color="warning" id="btnRegresarSoporte">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Regresar
</ion-button>

<script>
    document.querySelector('#btnRegresarSoporte').onclick = () => {
        $("#contenedorPrincipal").load("default.html");
    }
    const cancelar = () => {
        document.querySelector('#nombre').value = '';
        document.querySelector('#correo').value = '';
        document.querySelector('#mensaje').value = '';
        document.querySelector('#asunto').value = '';
    }
    document.querySelector('#btn_cancelar').onclick = () => {
        cancelar();
    }
</script>