<ion-item class="ion-margin-vertical">
    <ion-label position="floating">
        Nombre
    </ion-label>
    <ion-input class="" v-model="from_name" id="nombre">
    </ion-input>
</ion-item>
<ion-item class="ion-margin-vertical">
    <ion-label position="floating">
        Asunto
    </ion-label>
    <ion-input class="" v-model="from_name" id="asunto">
    </ion-input>
</ion-item>
<ion-item class="ion-margin-vertical">
    <ion-label position="floating">
        Correo
    </ion-label>
    <ion-input class="" v-model="from_name" id="correo">
    </ion-input>
</ion-item>
<ion-item class="ion-margin-vertical">
    <ion-label position="floating">
        Mensaje
    </ion-label>
    <ion-textarea class="" placeholder="Detallanos tu solicitud de ayuda aqui..." v-model="from_name" id="mensaje">
    </ion-textarea>
</ion-item>
<ion-row>
    <ion-col size-md="2" offset-md="0">
        <ion-button @click="enviar" color="secondary">
            <ion-icon name="send-outline"></ion-icon>
            Enviar
        </ion-button>
    </ion-col>
    <ion-col size-md="2" offset-md="4">
        <ion-button @click="cancelar" color="danger">
            <ion-icon name="close-outline"></ion-icon>
            Cancelar
        </ion-button>
    </ion-col>
</ion-row>
<ion-button @click="regresar" expand="block" color="warning" id="btnRegresarSoporte">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Regresar
</ion-button>

<script>
    function regresar(){
        $("#contenedorPrincipal").load("default.html");
    }

    function cancelar(){
        document.querySelector('#nombre').value = '';
        document.querySelector('#correo').value = '';
        document.querySelector('#mensaje').value = '';
        document.querySelector('#asunto').value = '';
    }

</script>

<script>
    function mensajeEnviado(){
        let alert = document.createElement('ion-alert');
        alert.header = 'Mensaje';

        alert.message = 'Tu mensaje se ha enviado correctamente';
        alert.buttons = ['Cancelar', 'Aceptar'];
        document.body.appendChild(alert);
        return alert.present();
    }
</script>
<script>

(function () {
	emailjs.init("user_b3l3NHJjsJ5Fw2dCVNvne");
})();

const vue = new Vue({
	el: '#contenedorPrincipal',
	data() {
		return {
			from_name: '',
			from_email: '',
			message: '',
			subject: '',
		}
	},
	methods: {
		enviar() {
			let data = {
				from_name: document.querySelector('#nombre').value,
				from_email: document.querySelector('#correo').value,
				message: document.querySelector('#mensaje').value,
				subject: document.querySelector('#asunto').value,
			};

			emailjs.send("gmail", "ferreterias", data)
				.then(function (response) {
					if (response.text === 'OK') {
						mensajeEnviado();
					}
					console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
				}, function (err) {
					alert('Ocurrió un problema al enviar el correo');
					console.log("FAILED. error=", err);
				});
		}
	}
});

</script>