<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Web</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="https://node-web.odoo.com/im_livechat/external_lib.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <ion-app>
        <ion-header>
            <ion-toolbar color="primary">
                <ion-buttons slot="start">
                    <ion-button>
                        <ion-icon name="logo-ionic"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title>Node Web - Soporte</ion-title>
                <ion-buttons slot="end">
                    <ion-button id="btnHelp">
                        <ion-icon name="help-circle-outline"></ion-icon>
                        <!--<p>Total <spam id="precioTotal"></spam>$</p>
                        <ion-icon name="cart"></ion-icon>-->
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-grid>
                <ion-row>
                    <ion-col size-md="4" offset-md="4">
                        <ion-card>
                            <ion-card-header color="medium">
                                <ion-card-title>
                                    Nueva solicitud
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content id="app">
                                <ion-item class="ion-margin-vertical">
                                    <ion-label position="floating">
                                        Nombre
                                    </ion-label>
                                    <ion-input class="" v-model="from_name" id="nombre">
                                    </ion-input>
                                </ion-item>
                                <ion-item class="ion-margin-vertical">
                                    <ion-label position="floating">
                                        Asunto
                                    </ion-label>
                                    <ion-input class="" v-model="from_name" id="asunto">
                                    </ion-input>
                                </ion-item>
                                <ion-item class="ion-margin-vertical">
                                    <ion-label position="floating">
                                        Correo
                                    </ion-label>
                                    <ion-input class="" v-model="from_name" id="correo">
                                    </ion-input>
                                </ion-item>
                                <ion-item class="ion-margin-vertical">
                                    <ion-label position="floating">
                                        Mensaje
                                    </ion-label>
                                    <ion-textarea class="" placeholder="Detallanos tu solicitud de ayuda aqui..."
                                        v-model="from_name" id="mensaje">
                                    </ion-textarea>
                                </ion-item>
                                <ion-row>


                                    <ion-col size-md="2" offset-md="0">
                                        <ion-button @click="enviar">
                                            <ion-icon name="send-outline"></ion-icon>
                                            Enviar
                                        </ion-button>
                                    </ion-col>
                                    <ion-col size-md="2" offset-md="4">
                                        <ion-button @click="cancelar" id="cancelar" color="danger">
                                            <ion-icon name="close-outline"></ion-icon>
                                            Cancelar
                                        </ion-button>
                                    </ion-col>

                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </ion-content>
    </ion-app>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js">
    </script>
    <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript">
    </script>
    <script src="static/js/app.js"></script>
    <script>
        const btnHelp = document.querySelector('#btnHelp');

        btnHelp.onclick = () => {
            /*
            console.log('boton hel i');
            presentModal();
            modalElement();
            */
            window.location = "ayuda.html";
        }


        customElements.define('modal-page', class extends HTMLElement {
  connectedCallback() {
    this.innerHTML = `
<ion-header>
  <ion-toolbar>
    <ion-title>Ayuda</ion-title>
    <ion-buttons slot="primary">
      <ion-button onClick="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
</ion-content>`;
  }
});


const modalElement = document.createElement('ion-modal');
modalElement.component = 'modal-page';
modalElement.componentProps = {
  'firstName': 'Douglas',
  'lastName': 'Adams',
  'middleInitial': 'N'
};


function dismissModal(){
    console.log('l')
    window.location = "main.html";
}

function presentModal() {
  // create the modal with the `modal-page` component
  const modalElement = document.createElement('ion-modal');
  modalElement.component = 'modal-page';

  // present the modal
  document.body.appendChild(modalElement);
  return modalElement.present();
}

        const ayuda = () => {
	let alert = document.createElement('ion-modal');
	alert.header = 'Mensaje';

	alert.message = 'Tu mensaje se ha enviado correctamente';
	alert.buttons = ['Cancelar', 'Aceptar'];
	document.body.appendChild(alert);
	return alert.present();
}




    </script>
</body>

</html>