<ion-card-content id="app">
    <ion-item class="ion-margin-vertical">
        <ion-label position="floating">
            Usuario
        </ion-label>
        <ion-input class="" v-model="from_name" id="nombre">
        </ion-input>
    </ion-item>
    <ion-item class="ion-margin-vertical">
        <ion-label position="floating">
            Clave
        </ion-label>
        <ion-input class="" v-model="from_name" id="clave">
        </ion-input>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <ion-button id="btnIngresar" color="secondary">
                        <ion-icon name="send-outline"></ion-icon>
                        Ingresar
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <script>
        // const btnHelp = document.querySelector('#btnHelp');
        // const btnIngresar = document.querySelector('#btnIngresar');
        //   btnHelp.onclick = () => {
        //     window.location = "ayuda.html";
        //}
        btnIngresar.onclick = () => {
            let nombre_usuario = document.querySelector('#nombre').value;
            let clave_usuario = document.querySelector('#clave').value;
            user = JSON.parse(sessionStorage.getItem(nombre_usuario));
            if (user == null) {
                let alert = document.createElement('ion-alert');
                alert.header = 'Login';
                alert.message = 'Usuario o clave incorrecto';
                alert.buttons = ['Cancelar', 'Aceptar'];
                document.body.appendChild(alert);

                return alert.present();
            } else {
                if (user.clave == clave_usuario) {
                    console.log('entro biel');
                    $("#contenedorPrincipal").load("default.html");
                    limpiar_login();
                } else {
                    let alert = document.createElement('ion-alert');
                    alert.header = 'Login';
                    alert.message = 'Usuario o clave incorrecto';
                    alert.buttons = ['Cancelar', 'Aceptar'];
                    document.body.appendChild(alert);

                    return alert.present();
                }
            }


            console.log(nombre_usuario);
            console.log(user);
        }

        function limpiar_login() {
            document.querySelector('#nombre').value = '';
            document.querySelector('#clave').value = '';
        }

    </script>
    <script>

        var ferreteriala14 = {
            usuario: 'ferreteriasferreterias@outlook.es',
            clave: 'claveodoo'
        }

        sessionStorage.setItem("ferreteriala14", JSON.stringify(ferreteriala14));
    </script>